@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap'); 

*{
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    /* font-weight: 300;
    left: 30px;
    right: 90px; */
  }
  /* h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 4em;
    color: white;
    position: relative;
    text-align: center;
    top: 270px;
  } */
  h2{
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 2.5rem 0;
  }

.apple-pie-header {
  background-image: url("../images/apple-pie.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  /* flex properties  */
  display: flex;

  /* x axis; */
justify-content: center;
   /* y axis; */
   align-items: center;
}
header h1{
    font-weight: 400;
    font-size: 3rem;
    color: white;
}
main img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

main section {
    padding: 2rem 0;
}
.description p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 0 3rem 0;
    text-emphasis: justify;
  /* margin-left: 100px;
  margin-right: 100px;
  text-align: center, justify;
  margin: 35px;
  position: relative;
  padding: 30px; */
}
hr {
  width: 90%;
  position: relative;
}
.ingredients {
  margin: 35px;
  position: relative;
  padding: 10px;
  left: 100px;
}
ul {
  list-style-type: "- ";
}

/* .directions ol {
    list-style-type: none;
    counter-reset: section;
}
.directions ol li::before{
    content: "" counter(section ") ");
    counter-increment: section;

} */
/* .ingredients-image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
} */

.directions {
  margin: 30px;
  position: relative;
  padding: 10px;
  text-align: center, justify;
}

/* .directions-image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
} */
